.profilenav {
  flex: 0 0 250px;
  background-color: rgb(222, 231, 222);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  a {
    text-decoration: none;
  }

  &__route {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    padding-right: unset;
    border-radius: 2px;
    transition: all 300ms ease-in-out;
    &:hover,
    &:active &:focus,
    &--current {
      background-color: #a39a9a;
      color: white;
    }
  }
}
