@import './base/vars';
@import './base/media_query';
@import './base/layout';
@import './base/mixins';
@import './base/utilities';

//components
@import './components/modal.component';
@import './components/sidenav.component';
@import './components/add-new-company.component';
@import './components/add-new-user.component.scss';
@import './components/management-dashboard.component';
@import './components/order.component';
@import './components/profilenav.component';
@import './components/loading.component';
@import './components/product.component';
@import './components//empty.component';

// pages
@import './pages/Login.page';
@import './pages/Dashboard.shell';
@import './pages/Profile.page';
@import './pages/Companies.page';
@import './pages/ManageCompanyUsers';
@import './pages/ManageCompanyDeliverer';
@import './pages/Users.page';
@import './pages/Orders.page';
@import './pages/UserProfile.page';
@import './pages/Home.page';
@import './pages/Company.page';

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}
