.ordered-product-card-container {
  position: relative;
  height: 80px;
  margin-bottom: 12px;
}
.ordered-product-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  // height: 80px;
}

.ordered-left-part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ordered-quantity {
  font-weight: bolder;
  font-size: 17px;
}
.ordered-decrease-icon {
  // margin: 0 0 7px 0;
}
.ordered-map {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.ordered-name-prod {
  padding: 0 10px;
}
.ordered-product-wording {
}
.ordered-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ordered-product-price {
  align-self: flex-end;
}
.ordered-increase-icon {
  align-self: flex-end;
}
