.ordered-product-card-container {
  //   background-color: brown;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  height: 80px;
  margin-bottom: 12px;
}

.ordered-left-part {
  //   background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ordered-quantity {
  font-weight: bolder;
  font-size: 17px;
}
.ordered-decrease-icon {
}
.ordered-center-part {
  //   background-color: red;
  padding: 0 10px;
}
.ordered-product-wording {
}
.ordered-right-part {
  //   background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ordered-product-price {
}
.ordered-increase-icon {
  align-self: flex-end;
}
