.comapny-body {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 100px;
}
.products-side {
  position: relative;
  display: grid;
  grid-template-rows: 220px auto;
}
.company-header-container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 35px;
  margin: 20px 0;
}
.company-name {
  position: relative;
  font-size: 50px;
  font-weight: bolder;
}
.company-subtitle {
  position: relative;
  font-size: 18px;
}
.products-items {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}
.container_sections_search {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sections_bar {
  display: flex;
  // background-color: red;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}
.nav-menu {
  position: relative;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  width: 175px;
  padding: 5px;
}
.render-part {
}
.search-bar {
  position: relative;
  height: 40px;
}
.items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  justify-content: space-between;
}

.command-box {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 450px;
  border-radius: 20px;
  margin: 20px 0 0 20px;
}
.box-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}
.box-title {
  position: relative;
  font-size: 25px;
  font-weight: bolder;
}
.box-subtitle {
  font-weight: lighter;
}
.box-body {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0 20px 20px 26px;
}
.box-footer {
  position: relative;
  text-align: center;
  margin: 0 0 1.2em 0;
}
.box-button-style {
  position: relative;
  height: 3em;
  font-size: 20px;
  border-radius: 2em;
}
.empty-order-style {
  position: relative;
  display: flex;
  justify-content: center;
}

@media (width < 1024px) {
  .command-box {
    display: none;
  }
  .comapny-body {
    grid-template-columns: auto;
  }
}

@media (width < 601px) {
  .nav-menu {
    display: none;
  }
  .products-items {
    grid-template-columns: auto;
  }
}
