.companies__container {
  display: flex;
  flex-direction: column;
}

.companies__nav {
  display: grid;
  margin-top: 1em;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

.companies__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding-inline-start: 0;
  grid-gap: 1em;
}

.companies__item {
  list-style-type: none;
  border: 1px solid;
  border-radius: 2px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

.company__actions {
  align-self: end;
  display: flex;
  gap: 8px;
}
.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
