.orders__container {
  display: flex;
  flex-direction: column;
}

.orders_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orders_content {
  display: flex;
  flex-direction: 'row';
  justify-content: 'space-between';
}

.orders-action-product {
  height: 100px;
  width: 230px;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.orders_nav {
  width: 100vw;
}

.orders__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding-inline-start: 0;
  grid-gap: 1em;
}
